---
const posts = [
    {
        title: "Post de prueba1",
        description: "Maquina virtual - Hack",
        tag: ["HackTheBox","Ciberseguridad"]
    },
    {
        title: "Post de prueba2",
        description: "Maquina virtual - Hack",
        tag: ["HackTheBox","Ciberseguridad"]
    },
    {
        title: "Post de prueba3",
        description: "Maquina virtual - Hack",
        tag: ["HackTheBox","Ciberseguridad"]
    }
]
---


<section class="cont-secBlog">
    <div class="content-title-blog">
        <h2>Ultimos posts</h2>
    </div>
    <div class="cont-post-blog">
        {posts.map((post)=>(
            <div class="card-blog">
                <div class="cont-img-blog">
                    <img src="#" alt="Foto del blog" srcset=""/>
                </div>
                <div class="cont-name-desc-blog">
                    <span>{post.title}</span>
                    <p>{post.description}</p>
                    <div class="cont-tags">
                      {post.tag.map((tg) =>( <p class="tags">{tg}</p>))}
                    </div>
                </div>
            </div>
        ))}
     </div>
         
</section>

<style>
.cont-secBlog{
    min-height: 500px;
    background-color: #13161C;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem 0;
    gap: 3rem
}

.cont-post-blog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:3rem
}

.card-blog{
    background-color: #2251ad;
    height: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
}

.cont-name-desc-blog{
     background-color: rgb(0, 0, 0);
     padding: 1rem;
     border-radius: 0 0 5px 5px;
     
}

.cont-tags{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tags{
    border: 1px solid #ffff;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}
</style>