---
---


<div class="banner">
 <div class="cont-banner">
    <div class="cont-titles">
        <h1>Bienvenido a mi laboratorio web</h1>
        <p>Explora mis proyectos</p>
    </div>
     <a href="#" class="btn">C.V</a>
 </div>
</div>

<style>
.banner{
    background: linear-gradient(#13161C,#074A30, #0AE98A);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont-banner{
    color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.btn{
    width: 200px;
    height: 40px;
    background-color: #13161C;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s ease,transform 0.5s linear;
    align-content: center;
}

.btn:hover{
     background-color: #13161cc2;
     transform: scale(1.1);
     cursor: pointer;
}

@media (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    
    p{
        font-size: 1.2rem;
    }
}
</style>