---
import '../styles/global.css'
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<main>
			<NavBar />
			<slot />
			<Footer />
		</main>
			<script >
				import '../scripts/navbar.js';
			</script>
	</body>
</html>

